@import "nib"
@import "user/user.styl"
@import "main/main.styl"
@import "pages/client.styl"
@import "main/match.min.styl"

body
  background: #eee url(http://subtlepatterns.com/patterns/sativa.png)

html,body
  position relative
  height 100%
